<h3>QUIZ MAKER</h3>
<div *ngIf="category.length > 0">
  <p-dropdown id="categorySelect" [options]="category" [(ngModel)]="selectedCategory"
    [autoDisplayFirst]="false"></p-dropdown>
  <p-dropdown id="difficultySelect" [options]="difficulty" [(ngModel)]="selectedDifficulty"
    [autoDisplayFirst]="false"></p-dropdown>
  <button id="createBtn" (click)="getQuiz(selectedCategory, selectedDifficulty)">
    Create Quizz
  </button>
</div>

<form [formGroup]="quizForm" (ngSubmit)="onSubmit(quizForm.value)">
  <div *ngFor="let ques of questions;let i = index">
    <span>{{ "=====>" + ques.question }}</span>
    <div class="radio" *ngFor="let opt of ques.incorrect_answers;">
      <label>
        <input type="radio" formControlName="test_{{i}}" [value]="opt">{{opt}}
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [hidden]="quizForm.invalid">Submit</button>
</form>